@model V.Doc_ASP.NET.Models.CustomModel.ChatModel

@{
    Layout = null;
}

<!DOCTYPE html>

<div>
    <div>
        Image
    </div>
    <div>
        Message
    </div>
    <div>
        Time
    </div>
</div>
